@import url("https://fonts.googleapis.com/css?family=Caveat|Oswald");
.projects, .about, .contact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.projects .projects__container, .about .about__container {
  display: flex;
  margin: 200px 0;
  justify-content: center; }

.header, .hello, .about .about__container .container__aboutme, .nav__media, .menu__item, .back-button, .skill, .contact, .contact .contact__form {
  display: flex;
  justify-content: center;
  align-items: center; }

html {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-size: 16px; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/bike-wheel.jpg");
  background-position: center;
  background-size: cover; }

.hello {
  flex-flow: column wrap; }
  .hello .hello__intro {
    font-size: 70px;
    color: #8fbad1;
    text-shadow: -1px 2px 0 #00222b; }
  .hello .hello__intro--red {
    color: #00222b;
    text-shadow: -1px 2px 0 #8fbad1; }
  .hello .hello__intro--small {
    font-family: caveat;
    font-size: 56px;
    color: #961616;
    text-shadow: -1px 2px 0 #640a0a; }
  @media all and (max-width: 500px) {
    .hello .hello__intro {
      font-size: 42px; }
    .hello .hello__intro--small {
      font-size: 35px; } }

.content {
  width: 100%;
  height: 100vh; }
  .content .nav {
    height: 7vh;
    width: 100%;
    background-color: #961616;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    z-index: 10;
    transition: all 0.3s ease; }
  .content .nav--active {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0; }
  @media all and (max-width: 1078px) {
    .content .nav {
      display: none; } }
  .content .display-menu {
    display: none; }

.projects {
  background-color: #00222b;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 95%); }
  .projects .projects__container {
    flex-flow: row wrap;
    max-width: 1200px; }

.about .about__container {
  flex-flow: column wrap;
  max-width: 1000px; }
  .about .about__container .container__aboutme {
    background-color: #e6f3ff;
    flex: 1;
    flex-flow: row wrap;
    padding: 0 20px; }
  .about .about__container .container__myskills {
    background-color: #e2e9ee;
    flex: 1;
    display: flex;
    align-items: center;
    min-height: 300px;
    padding: 0 40px; }

.contact {
  flex-direction: column; }

.contact-background {
  background-color: #00222b;
  min-height: 80vh;
  width: 100%;
  clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 50% 90%, 0% 100%); }

.footer {
  color: #00222b; }

.logo-main {
  position: absolute;
  height: 30vh;
  width: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.nav__logo {
  height: 60%; }

.nav__media {
  color: white; }

.nav__menu {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 60%;
  align-items: center;
  list-style: none;
  height: 100%; }

.menu__item {
  flex: 1;
  height: 100%;
  position: relative;
  font-size: 16px;
  transition: all 0.5s ease; }
  .menu__item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .menu__item:hover .menu__icon {
    opacity: 0; }
  .menu__item:hover .menu__text {
    opacity: 1; }

.menu__icon {
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.5s ease; }

.menu__text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease; }

.media__icon {
  font-size: 24px;
  margin: 0 5px;
  transition: all 0.3s ease; }
  .media__icon:hover {
    text-shadow: -1px 2px 2px black;
    color: #b1b1b1;
    cursor: pointer; }

.button {
  position: relative;
  border: none;
  border-radius: 40px;
  color: #00222b;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 30px;
  margin-top: 40px;
  max-width: 350px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s ease;
  padding-left: 20px; }
  .button:focus {
    outline: none; }
  .button:hover {
    box-shadow: -3px 3px 15px -1px black, inset 0 0 0 black;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.85); }
  .button .button__arrow {
    color: #00222b;
    transition: all 0.3s ease;
    font-size: 1.5em;
    margin: 0 20px; }
  .button:hover .button__arrow {
    transform: rotate(90deg); }

@media all and (max-width: 500px) {
  .button {
    font-size: 20px; } }

.back-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 30px;
  transition: all 0.3s ease; }
  .back-button .back-button__arrow {
    color: #00222b; }
  .back-button:hover {
    cursor: pointer;
    box-shadow: -3px 3px 15px -1px black, inset 0 0 0 black;
    background-color: rgba(255, 255, 255, 0.85); }

.projects__container > div {
  overflow: hidden;
  margin: 2px;
  position: relative;
  box-shadow: 0 0 0 black;
  transition: all 0.3s ease; }
  .projects__container > div:hover {
    box-shadow: -1px 3px 15px black;
    transform: translateY(-4px) scale(1.01); }
  .projects__container > div:hover .container__project {
    filter: blur(5px); }
  .projects__container > div:hover .project-watch--code {
    right: 50px;
    opacity: 1;
    cursor: pointer; }
  .projects__container > div:hover .project-watch--site {
    left: 50px;
    opacity: 1;
    cursor: pointer; }
  .projects__container > div .project-watch {
    width: 100px;
    height: 100px;
    border: 1px solid #8fbad1;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.103);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 60%;
    position: absolute;
    z-index: 10;
    top: 50%;
    opacity: 0;
    transform: translateY(-50%); }
    .projects__container > div .project-watch .project__text {
      position: absolute;
      top: 100px;
      left: 50%;
      opacity: 0;
      text-align: center;
      transform: translate(-50%, -50%);
      transition: all 0.5s ease;
      color: #00222b; }
  .projects__container > div .project-watch--site {
    background-image: url("../images/website.png");
    left: -30px;
    transition: all 0.3s ease; }
    .projects__container > div .project-watch--site:hover {
      background-color: rgba(255, 255, 255, 0.3);
      background-position-y: -100px; }
    .projects__container > div .project-watch--site:hover .project__text {
      top: 50%;
      opacity: 1; }
  .projects__container > div .project-watch--code {
    background-image: url("../images/octocat.png");
    right: -30px;
    transition: all 0.3s ease; }
    .projects__container > div .project-watch--code:hover {
      background-color: rgba(255, 255, 255, 0.3);
      background-position-y: -100px; }
    .projects__container > div .project-watch--code:hover .project__text {
      top: 50%;
      opacity: 1; }

.projects__container > div {
  max-width: 320px;
  overflow: hidden; }

.container__project {
  height: 300px;
  width: 320px;
  background-image: url("../images/background3-mod.jpg");
  background-position: center;
  background-size: cover;
  transform: scale(1.05);
  transition: all 0.3s ease; }

.skills-list {
  display: flex;
  align-items: center;
  flex-flow: row wrap; }

.skill {
  border: 3px solid #961616;
  flex: auto;
  list-style: none;
  background-color: #961616;
  padding: 5px 20px;
  margin: 6px 3px;
  color: white;
  box-shadow: -1px 1px 3px black;
  transition: all 0.3s ease; }
  .skill:hover {
    background-color: white;
    color: #961616;
    box-shadow: -4px 5px 15px black;
    cursor: pointer; }

.skills-list__icon {
  height: 2em;
  margin-right: 1em; }

.skills-list__text {
  margin-right: 1em; }

.myphoto {
  max-width: 250px;
  clip-path: circle(45%);
  margin: 0 20px; }

.mystory {
  color: #00222b;
  text-align: justify;
  margin: 0 20px;
  flex: 4;
  min-width: 250px; }
  .mystory p {
    margin: 15px 0; }
  .mystory .mystory__title {
    font-size: 2em;
    color: #961616;
    font-weight: 600;
    font-family: caveat; }

.contact .contact__form {
  color: #00222b;
  position: absolute;
  flex-flow: column wrap;
  width: 100%;
  min-height: 40vh;
  clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 50% 80%, 0% 100%);
  background-color: #8fbad1; }
  .contact .contact__form .contact__title {
    font-size: 70px; }
  @media all and (max-width: 500px) {
    .contact .contact__form .contact__title {
      font-size: 42px; } }
  @media all and (orientation: landscape) {
    .contact .contact__form .contact__title {
      font-size: 42px; } }
  .contact .contact__form .contact__data {
    font-size: 16px;
    text-decoration: none;
    color: #00222b; }
  .contact .contact__form .contact__icons {
    font-size: 35px; }
    .contact .contact__form .contact__icons .contact__icon {
      transition: all 0.3s ease; }
    .contact .contact__form .contact__icons .contact__icon:hover {
      color: white;
      text-shadow: -1px 2px 2px black;
      cursor: pointer; }

.loading-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; }

.loading-screen__logo {
  width: 30%;
  height: 30%; }

.projects, .about, .contact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.projects .projects__container, .about .about__container {
  display: flex;
  margin: 200px 0;
  justify-content: center; }

.header, .hello, .about .about__container .container__aboutme, .nav__media, .menu__item, .back-button, .skill, .contact, .contact .contact__form {
  display: flex;
  justify-content: center;
  align-items: center; }

.mobile-button {
  display: none;
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease; }
  .mobile-button:hover {
    cursor: pointer;
    box-shadow: -3px 3px 15px -1px black, inset 0 0 0 black;
    background-color: rgba(255, 255, 255, 0.85); }

.mobile-button__top, .mobile-button__mid, .mobile-button__bot {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #00222b;
  left: 25%;
  top: 50%;
  border-radius: 1.5px;
  transition: all 0.5s ease; }

.mobile-button__top {
  transform: translateY(-10px); }

.mobile-button__mid {
  opacity: 1; }

.mobile-button__bot {
  transform: translatey(10px); }

.mobile-button.mobile-button--active .mobile-button__top {
  transform: rotate(-45deg); }

.mobile-button.mobile-button--active .mobile-button__mid {
  opacity: 0;
  right: 10%; }

.mobile-button.mobile-button--active .mobile-button__bot {
  transform: rotate(45deg); }

.mobileMenu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  transform: scaley(0);
  opacity: 0;
  transform-origin: top;
  z-index: 90;
  transition: all 0.3s ease; }
  .mobileMenu .list__item {
    list-style: none;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    margin: 10px;
    color: white; }
    .mobileMenu .list__item:hover {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.7); }

.mobileMenu--active {
  transform: scaley(1);
  opacity: 1; }

@media all and (max-width: 1078px) {
  .mobile-button {
    display: block; } }
