@import url("https://fonts.googleapis.com/css?family=Caveat|Oswald");
.projects, .about, .contact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap; }

.projects .projects__container, .about .about__container {
  display: flex;
  margin-bottom: 200px;
  justify-content: center; }

.header, .hello, .about .about__container .container__aboutme, .nav__media, .menu__item, .back-button, .project .project__watch, .skill, .contact, .contact .contact__form {
  display: flex;
  justify-content: center;
  align-items: center; }

html {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-size: 16px; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

a:visited {
  color: white; }

body.loading {
  overflow: hidden; }

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(27, 51, 65, 0.301), white); }

.hello {
  flex-flow: column wrap; }
  .hello .hello__intro {
    font-size: 70px;
    color: #00222b;
    text-shadow: -1px 2px 0 #8fbad1;
    text-align: center;
    opacity: 0;
    transform: translateX(-70px);
    transition: all 1s ease-in-out; }
  .hello .hello__intro--active {
    opacity: 1;
    transform: translateX(0); }
  .hello .hello__intro--name {
    color: #8fbad1;
    text-shadow: -1px 2px 0 #00222b; }
  .hello .hello__intro--small {
    font-family: caveat;
    font-size: 56px;
    color: #00222b;
    text-shadow: -1px 2px 0 #8fbad1; }
  @media all and (max-width: 500px) {
    .hello .hello__intro {
      font-size: 42px; }
    .hello .hello__intro--small {
      font-size: 35px; } }

.content {
  width: 100%;
  height: 100vh; }
  .content .nav {
    height: 7vh;
    transform: scaley(0);
    transform-origin: top;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    border-bottom: 2px solid #8fbad1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    z-index: 10;
    transition: all 0.3s ease; }
  .content .nav--active {
    position: fixed;
    transform: scaley(1);
    top: 0; }
  @media all and (max-width: 1078px) {
    .content .nav {
      display: none; } }
  .content .display-menu {
    display: none; }

.title {
  margin: 140px 0 15px 0;
  color: #8fbad1;
  text-shadow: -1px 2px 0 #00222b;
  font-size: 2em;
  border-bottom: 2px solid #8fbad1;
  opacity: 0;
  transform: translateX(-70px);
  transition: all 1s ease-in-out; }

.title--dark {
  color: #00222b;
  text-shadow: -1px 2px 0 #8fbad1;
  font-size: 2em;
  border-bottom: 2px solid #00222b; }

.title--active {
  opacity: 1;
  transform: translateX(0); }

.projects {
  background-color: #00222b;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 95%); }
  .projects .projects__container {
    flex-flow: row wrap;
    max-width: 1200px; }

.about .about__container {
  flex-flow: column wrap;
  max-width: 1000px; }
  .about .about__container .container__aboutme {
    background-color: #e6f3ff;
    flex: 1;
    flex-flow: row wrap;
    opacity: 0;
    transform: translateX(-70px);
    transition: all 1s ease-in-out; }
  .about .about__container .about__element--active.container__aboutme {
    opacity: 1;
    transform: translateX(0); }
  .about .about__container .container__myskills {
    background-color: #e2e9ee;
    flex: 1;
    display: flex;
    align-items: center;
    min-height: 300px;
    padding: 0 40px;
    opacity: 0;
    transform: translateX(-70px);
    transition: all 1s ease-in-out; }
  .about .about__container .about__element--active.container__myskills {
    opacity: 1;
    transform: translateX(0); }

.contact {
  flex-direction: column; }

.contact-background {
  background-color: #00222b;
  min-height: 80vh;
  width: 100%;
  clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 50% 90%, 0% 100%); }

.footer {
  color: #00222b; }
  .footer a:visited {
    color: #00222b; }

.logo-main {
  position: absolute;
  height: 30vh;
  width: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.nav__logo {
  height: 60%; }

.nav__media {
  color: white; }

.nav__menu {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 60%;
  align-items: center;
  list-style: none;
  height: 100%; }

.menu__item {
  flex: 1;
  height: 100%;
  position: relative;
  font-size: 16px;
  transition: all 0.5s ease; }
  .menu__item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .menu__item:hover .menu__icon {
    opacity: 0; }
  .menu__item:hover .menu__text {
    opacity: 1; }

.menu__icon {
  position: absolute;
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: all 0.5s ease; }

.menu__text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease; }

.media__icon {
  font-size: 24px;
  margin: 0 5px;
  transition: all 0.3s ease; }
  .media__icon:hover {
    text-shadow: -1px 2px 2px black;
    color: #b1b1b1;
    cursor: pointer; }

.button {
  position: relative;
  border: none;
  border-radius: 40px;
  color: #00222b;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #00222b;
  font-size: 30px;
  margin-top: 40px;
  max-width: 350px;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.3s ease;
  padding-left: 20px;
  opacity: 0;
  transform: translateX(-70px);
  transition: all 1s ease-in-out; }
  .button:focus {
    outline: none; }
  .button:hover {
    box-shadow: -3px 3px 15px -1px black, inset 0 0 0 black;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.85); }
  .button.button--active {
    opacity: 1;
    transform: translateX(0); }
  .button .button__arrow {
    color: #00222b;
    transition: all 0.3s ease;
    font-size: 1.5em;
    margin: 0 20px; }
  .button:hover .button__arrow {
    transform: rotate(90deg); }

@media all and (max-width: 500px) {
  .button {
    font-size: 20px; } }

.back-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #00222b;
  font-size: 30px;
  transition: all 0.3s ease; }
  .back-button .back-button__arrow {
    color: #00222b; }
  .back-button:hover {
    cursor: pointer;
    box-shadow: -3px 3px 15px -1px black, inset 0 0 0 black;
    background-color: rgba(255, 255, 255, 0.85); }

.project {
  overflow: hidden;
  margin: 2px;
  position: relative;
  box-shadow: 0 0 0 black;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(5%); }
  .project:hover .project__text {
    bottom: 60%;
    opacity: 1; }
  .project:hover .project__watch {
    top: 60%;
    opacity: 1;
    cursor: pointer; }
  @media screen and (min-width: 1078px) {
    .project:hover {
      box-shadow: -1px 3px 15px black; }
    .project:hover .container__project {
      filter: blur(3px); } }
  .project .project__watch {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 60%;
    position: absolute;
    z-index: 10;
    top: 80%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    color: #00222b;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #00222b;
    transition: all 0.3s ease; }
    .project .project__watch:hover {
      box-shadow: -3px 3px 15px -1px black, inset 0 0 0 black;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.85); }
  .project .project__text {
    position: absolute;
    z-index: 10;
    bottom: 40%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    color: #00222b;
    transition: all 0.4s ease 0.1s; }

.project--active {
  opacity: 1;
  transform: translateY(0%); }

.projects__container > div {
  max-width: 320px;
  overflow: hidden; }

.details {
  background-color: rgba(255, 255, 255, 0.9);
  width: 80vw;
  height: 60vh;
  position: fixed;
  top: 20vh;
  left: 10vw;
  z-index: 200;
  padding: 10px 0;
  overflow: hidden;
  display: none;
  border: 2px solid #8fbad1; }
  @media screen and (max-width: 776px) {
    .details {
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh; } }
  .details .details__close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    z-index: 21;
    background-color: rgba(255, 255, 255, 0.2); }
    .details .details__close:hover {
      background-color: rgba(255, 255, 255, 0.85);
      cursor: pointer; }
    @media screen and (max-width: 776px) {
      .details .details__close {
        background-color: rgba(255, 255, 255, 0.85); } }
  .details .details__min-img {
    position: absolute;
    height: 40%;
    left: 50%;
    transform: translateX(-50%); }
  .details .details__info {
    position: absolute;
    top: 40%;
    margin: 10px; }
  .details .datails__git {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 21;
    background-image: url("/dist/images/github.png");
    background-position: center;
    background-size: cover; }

.details--active {
  display: block; }

.container__project {
  height: 300px;
  width: 300px;
  background-image: url("/dist/images/background3-mod.jpg");
  background-position: center;
  background-size: cover;
  transform: scale(1.05);
  transition: all 0.3s ease; }

.skills-list {
  display: flex;
  align-items: center;
  flex-flow: row wrap; }

.skill {
  border: 3px solid #961616;
  flex: auto;
  list-style: none;
  background-color: #961616;
  padding: 5px 20px;
  margin: 6px 3px;
  color: white;
  box-shadow: -1px 1px 3px black;
  transition: all 0.3s ease; }
  .skill:hover {
    background-color: white;
    color: #961616;
    box-shadow: -4px 5px 15px black;
    cursor: pointer; }

.skills-list__icon {
  height: 2em;
  margin-right: 1em; }

.skills-list__text {
  margin-right: 1em; }

.myphoto {
  max-width: 250px;
  clip-path: circle(45%);
  margin: 0 20px; }

.mystory {
  color: #00222b;
  text-align: justify;
  margin: 0 20px;
  flex: 4;
  min-width: 250px; }
  .mystory p {
    margin: 15px 0; }
  .mystory .mystory__title {
    font-size: 2em;
    color: #961616;
    font-weight: 600;
    font-family: caveat; }

.contact .contact__form {
  color: #00222b;
  position: absolute;
  flex-flow: column wrap;
  width: 100%;
  min-height: 40vh;
  clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 50% 80%, 0% 100%);
  background-color: #8fbad1; }
  .contact .contact__form .contact__title {
    font-size: 70px; }
  @media all and (max-width: 500px) {
    .contact .contact__form .contact__title {
      font-size: 42px; } }
  @media all and (orientation: landscape) {
    .contact .contact__form .contact__title {
      font-size: 42px; } }
  .contact .contact__form .contact__data {
    font-size: 16px;
    text-decoration: none;
    color: #00222b; }
  .contact .contact__form a:visited {
    color: white; }
  .contact .contact__form .contact__icons {
    font-size: 35px; }
    .contact .contact__form .contact__icons .contact__icon {
      transition: all 0.3s ease; }
    .contact .contact__form .contact__icons .contact__icon:hover {
      color: white;
      text-shadow: -1px 2px 2px black;
      cursor: pointer; }

.loading-screen {
  background-color: white;
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; }

body.loading .loading-screen {
  background-color: black; }

.loading-screen__logo {
  width: 15%;
  height: 15%; }

.projects, .about, .contact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap; }

.projects .projects__container, .about .about__container {
  display: flex;
  margin-bottom: 200px;
  justify-content: center; }

.header, .hello, .about .about__container .container__aboutme, .nav__media, .menu__item, .back-button, .project .project__watch, .skill, .contact, .contact .contact__form {
  display: flex;
  justify-content: center;
  align-items: center; }

.mobile-button {
  display: none;
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 20px;
  right: 20px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease; }
  .mobile-button:hover {
    cursor: pointer;
    box-shadow: -3px 3px 15px -1px black, inset 0 0 0 black;
    background-color: rgba(255, 255, 255, 0.85); }

.mobile-button__top, .mobile-button__mid, .mobile-button__bot {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #00222b;
  left: 25%;
  top: 50%;
  border-radius: 1.5px;
  transition: all 0.5s ease; }

.mobile-button__top {
  transform: translateY(-10px); }

.mobile-button__mid {
  opacity: 1; }

.mobile-button__bot {
  transform: translatey(10px); }

.mobile-button.mobile-button--active .mobile-button__top {
  transform: rotate(-45deg); }

.mobile-button.mobile-button--active .mobile-button__mid {
  opacity: 0;
  right: 10%; }

.mobile-button.mobile-button--active .mobile-button__bot {
  transform: rotate(45deg); }

.mobileMenu {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.95);
  transform: scaley(0);
  opacity: 0;
  transform-origin: top;
  z-index: 90;
  transition: all 0.3s ease; }
  .mobileMenu .list__item {
    list-style: none;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    margin: 10px;
    color: white; }
    .mobileMenu .list__item:hover {
      cursor: pointer;
      color: rgba(255, 255, 255, 0.7); }

.mobileMenu--active {
  transform: scaley(1);
  opacity: 1; }

@media all and (max-width: 1078px) {
  .mobile-button {
    display: block; } }
