%main-section{
    width:100%;
    min-height:100vh;
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

%container {
        display: flex;
        margin-bottom: 200px;
        justify-content: center;
}

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hide {
    opacity: 0;
    transform: translateX(-70px);
    transition: all 1s ease-in-out;
}

@mixin show {
    opacity:1;
    transform: translateX(0);
}