%main-section{
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin main-section{
    
        width:100%;
        min-height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
}

@mixin container {
        display: flex;
        max-width: 1200px;
        margin: 200px 0;
        min-height: 400px;
        flex-flow: row wrap;
        justify-content: center;
        // align-items: center;
}