@import url('https://fonts.googleapis.com/css?family=Caveat|Oswald');
@import 'variables';
@import 'helpers';

html {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: $main-text-size;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/bg-bikes1.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:center; 
}

.hello{
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;

    .hello__intro{
        font-size: $jumbo-text;
        color: $light-blue;
        text-shadow: -1px 2px 0 $dark-blue;
    }

    .hello__intro--red{
        color: $dark-blue;
        text-shadow: -1px 2px 0 $light-blue;
    }

    .hello__intro--small {
        font-family: caveat;
        font-size: 0.8*$jumbo-text;
        color: $dark-red;
        text-shadow: -1px 2px 0 rgb(100, 10, 10);
    }

    @media all and (max-width: 500px){
        .hello__intro{
            font-size: 0.6*$jumbo-text;
        }
    
        .hello__intro--small{
            font-size: 0.5*$jumbo-text;
        }
    }
}

.content {
    width: 100%;
    height: 100vh;
    
    .nav {
        height: 10vh;
        width: 100%;
        background-color: $background-transparent;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1%;
        z-index: 10;
    }

    @media all and(max-width: 1078px){
        .nav {
            display: none;
        }
    }

    .display-menu{
        display: none;
    }
}

.projects{
    @extend %main-section;
    background-color: $dark-blue;
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 95%);
    
    .projects__container{
        @extend %container;
        flex-flow: row wrap;
        max-width: 1200px;
    }
}

.about{
    @extend %main-section;

    .about__container{
        @extend %container;
        flex-flow: column wrap;
        max-width: 1000px;

        .container__aboutme{
            background-color: rgb(230, 243, 255);
            flex:1;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
        }
        
        .container__myskills{
            background-color: rgb(226, 233, 238);
            flex:1;
            display: flex;
            align-items: center;
            min-height: 300px;
            padding: 0 40px;
        }
    }    
}

.contact{
    @extend %main-section;
    flex-direction: column;
}

.contact-background{
    background-color: $dark-blue;
    min-height: 80vh;
    width:100%;
    clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 50% 90%, 0% 100%);
}

.footer{
    color: $dark-blue;
}