@import url('https://fonts.googleapis.com/css?family=Satisfy|Roboto|Charmonman|Lobster|Pacifico');
@import 'variables';

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: url(/src/images/background3.jpg);
    background-position: center;
    background-size: cover;
}

.hello{
    // background-color: $background-transparent;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 3%;
    text-align: center;

    .hello__intro{
        font-size: $jumbo-text;
        color: $light-blue;
        text-shadow: -1px 1px 0 $dark-blue;
    }

    .hello__intro--red{
        color: $dark-red;
    }

    .hello__intro--small {
        font-family: satisfy;
        font-size: 0.8*$jumbo-text;
        color: $light-blue;
    }
}

.content {
    width: 100%;
    height: 100vh;
    
    .nav {
        height: 10vh;
        width: 100%;
        background-color: $background-transparent;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1%;
        z-index: 10;
    }
}

%main-section{
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects{
    @extend %main-section;
    background-color: $dark-blue;
    clip-path: polygon(70% 0, 100% 10%, 100% 100%, 30% 100%, 0% 90%, 0% 0%);
    
    .projects__container{
        display: flex;
        max-width: 1200px;
        margin: 200px 0;
        min-height: 400px;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        justify-self: center;
        align-self: center;
    }
}

.about{
    @extend %main-section;
    background-color: $light-blue;

    .about__container{
        @extend .projects__container;
        background-color: red;
        max-width: 500px;
    
        .container__aboutme{
            background-color: blue;
        }
    }    
}

