.display-menu{
    display: inline-block;
    position: fixed;
    @extend %flex-center;
    opacity: 1;
    width: 20em;
    height: 20em;
    background-color: red;
    z-index: 90;
    font-size: 2em;
    transition: all 0.3s ease;
}