@import 'variables';

.logo-main {
    position: absolute;
    height: 30vh;
    width: 30vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav__logo{
    height:80%;
}

.nav__media {
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav__menu{
    color: white;
    display: flex;
    flex-direction: row;
    text-decoration: none;    
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
    list-style: none;
    height: 100%;
}

.menu__item{
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $main-text-size;
}

.media__icon{
    font-size: 1.5*$main-text-size;
    margin: 0 5px;
}

.button{
    position: relative;
    // background-color: rgba(252, 252, 252, 0.623);
    border: none;
    border-radius: 40px;
    color: $light-blue;
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -5px 5px 20px black;

    .button__arrow{
        position: absolute;
        color: $dark-red;
        right: 40px;
    }
}

.container__project{
    height: 300px;
    width: 390px;
    background-color: red;
    margin: 2px;
}



.skills-list{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.skill{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: $dark-red;
    padding: 0 20px;
    margin: 6px 3px;
    height: 40px;
    border-radius: 20px;
}


.skills-list__icon {
    height: 1em;
    width: 1em;
    margin-right: 1em;
}

.skills-list__icon--img {
}

.skills-list__text{
    margin-right: 1em;
}

.myphoto{
    max-width: 300px;
    max-height: 300px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
