@import 'variables';

.logo-main {
    position: absolute;
    height: 30vh;
    width: 30vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav__logo{
    height: 60%;
}

.nav__media {
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav__menu{
    color: white;
    display: flex;
    flex-direction: row;  
    justify-content: space-evenly;
    min-width: 60%;
    align-items: center;
    list-style: none;
    height: 100%;
}

.menu__item{
    flex: 1;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: $main-text-size;
    transition: all 0.3s ease;

    &:hover{
        background-color: $background-transparent-dark;
        cursor: pointer;
    }

    &:hover .menu__icon{
        // top: 10%;
        opacity: 0;
    }

    &:hover .menu__text{
        // top: 50%;
        opacity: 1;
    }

}

.menu__icon {
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:1;
    transition: all 0.5s ease;
}

.menu__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity:0;
    transition: all 0.5s ease;
}

.media__icon{
    font-size: 1.5*$main-text-size;
    margin: 0 5px;
}

.button{
    position: relative;
    border: none;
    border-radius: 40px;
    color: $light-blue;
    background-color: rgb(241, 241, 241);
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: -3px 3px 15px black, inset 0 0 3px black;
    transition: all 0.3s ease;

    &:hover{
        box-shadow: -7px 10px 15px black, inset 0 0 0 black;
        background-color: white;
        cursor: pointer;
        }
    &:hover .button__arrow{
        transform: rotate(90deg);
    }

    .button__arrow{
        color: $dark-red;  
        transition: all 0.3s ease;      
    }
}

.container__project{
    height: 300px;
    width: 390px;
    background-color: red;
    margin: 2px;
}



.skills-list{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.skill{
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: $dark-red;
    padding: 0 20px;
    margin: 6px 3px;
    height: 40px;
    border-radius: 20px;
    color:white;
}


.skills-list__icon {
    height: 1em;
    width: 1em;
    margin-right: 1em;
}

.skills-list__text{
    margin-right: 1em;
}
.photo-container{
}

.myphoto{
    max-width: 250px;
    clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
    margin: 0 20px;
}

.mystory{
    color: $dark-blue;
    text-align: justify;
    white-space: pre-line;
    margin: 0 20px;
    flex: 4;
    min-width: 250px;

    .mystory__title{
        font-size: 2em;
        color: $dark-red;
        font-weight: 600;
    }
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .contact__form{
        color: $dark-blue;
        position: absolute;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 30%;
        clip-path: polygon(0 10%, 50% 0, 100% 10%, 100% 100%, 50% 90%, 0% 100%);
        background-color: $light-blue;

        .contact__title{
            font-size: $jumbo-text;
        }

        .contact__data{
            font-size: $main-text-size;
        }

        .contact__icons{
            font-size: 0.5*$jumbo-text;
        }
    }
}
