@import 'variables';

.logo-main {
    position: absolute;
    height: 30vh;
    width: 30vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav__logo {
    height: 60%;
}

.nav__media {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav__menu {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 60%;
    align-items: center;
    list-style: none;
    height: 100%;
}

.menu__item {
    flex: 1;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: $main-text-size;
    transition: all 0.5s ease;

    &:hover {
        background-color: $background-transparent-dark;
        cursor: pointer;
    }

    &:hover .menu__icon {
        opacity: 0;
    }

    &:hover .menu__text {
        opacity: 1;
    }

}

.menu__icon {
    position: absolute;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all 0.5s ease;
}

.menu__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s ease;
}

.media__icon {
    font-size: 1.5*$main-text-size;
    margin: 0 5px;
    transition: all 0.3s ease;

    &:hover {
        text-shadow: -1px 2px 2px black;
        color: rgb(177, 177, 177);
        cursor: pointer;
    }
}

.button {
    position: relative;
    border: none;
    border-radius: 40px;
    color: $dark-blue;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
    max-width: 350px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: -3px 3px 10px black, inset 0 0 3px black;
    transition: all 0.3s ease;
    padding-left: 20px;

    &:hover {
        box-shadow: -3px 3px 15px -1px black, inset 0 0 0 black;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.7);
        // color: white;
    }

    .button__arrow {
        color: $dark-blue;
        transition: all 0.3s ease;
        font-size: 1.5em;
        margin: 0 20px;
    }

    &:hover .button__arrow {
        transform: rotate(90deg);
        // color: white;
    }


}

@media all and (max-width: 500px) {
    .button {
        font-size: 20px;
    }
}

.back-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
    opacity: 1;
    width: 2em;
    height: 2em;
    border-radius: 1.5em;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -3px 3px 10px black, inset 0 0 3px black;
    z-index: 11;
    font-size: 2em;
    transition: all 0.3s ease;

    .back-button__arrow {
        color: $dark-blue;
    }

    &:hover {
        cursor: pointer;
        box-shadow: -3px 3px 15px -1px black, inset 0 0 0 black;
        background-color: rgba(255, 255, 255, 0.7);
    }

    &:hover .back-button__arrow{
        // color: white;
    }
}

.projects__container>div {
    overflow: hidden;
    margin: 2px;
    position: relative;
    box-shadow: 0 0 0 black;
    transition: all 0.3s ease;

    &:hover {
        box-shadow: -1px 3px 15px black;
        transform: translateY(-4px) scale(1.01);
    }

    &:hover .container__project {
        filter: blur(5px);
    }

    &:hover .project-watch--code {
        right: 50px;
        opacity: 1;
        cursor: pointer;
    }

    &:hover .project-watch--site {
        left: 50px;
        opacity: 1;
        cursor: pointer;
    }

    .project-watch {
        width: 100px;
        height: 100px;
        border: 1px solid $light-blue;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.103);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 60%;
        position: absolute;
        z-index: 10;
        top: 50%;
        opacity: 0;
        transform: translateY(-50%);
    }

    .project-watch--site {
        background-image: url('../images/website.png');
        left: -30px;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    .project-watch--code {
        background-image: url('../images/octocat.png');
        right: -30px;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}

.container__project {
    height: 300px;
    width: 350px;
    background-image: url('../images/background3-mod.jpg');
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.skills-list {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.skill {
    border: 3px solid $dark-red;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: $dark-red;
    padding: 5px 20px;
    margin: 6px 3px;
    color: white;
    box-shadow: -1px 1px 3px black;
    transition: all 0.3s ease;

    &:hover {
        background-color: white;
        color: $dark-red;
        box-shadow: -4px 5px 15px black;
        cursor: pointer;
    }
}


.skills-list__icon {
    height: 2em;
    // width: 1em;
    margin-right: 1em;
}

.skills-list__text {
    margin-right: 1em;
}

.photo-container {}

.myphoto {
    max-width: 250px;
    clip-path: circle(45%);
    margin: 0 20px;
}

.mystory {
    color: $dark-blue;
    text-align: justify;
    margin: 0 20px;
    flex: 4;
    min-width: 250px;

    p {
        margin: 15px 0;
    }

    .mystory__title {
        font-size: 2em;
        color: $dark-red;
        font-weight: 600;
        font-family: caveat;
    }
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;

    .contact__form {
        color: $dark-blue;
        position: absolute;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 40vh;
        clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 50% 80%, 0% 100%);
        background-color: $light-blue;

        .contact__title {
            font-size: $jumbo-text;
        }

        @media all and (max-width:500px) {
            .contact__title {
                font-size: 0.6*$jumbo-text;
            }
        }

        .contact__data {
            font-size: $main-text-size;
            text-decoration: none;
            color: $dark-blue;
        }

        .contact__icons {
            font-size: 0.5*$jumbo-text;

            .contact__icon {
                transition: all 0.3s ease;
            }

            .contact__icon:hover {
                color: white;
                text-shadow: -1px 2px 2px black;
                cursor: pointer;
            }
        }
    }
}

.bars {
    display: none;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 50%;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    z-index: 30;
    box-shadow: -3px 3px 10px black, inset 0 0 3px black;
    transition: all 0.3s ease;
    &:hover{
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: -3px 3px 15px -1px black, inset 0 0 0 black;
    }
}

.bars__bar{
    position: absolute;
    top: 38px;
    width:50%;
    height: 4px;
    background-color: $dark-blue;
    border-radius: 2px;
}

.bars__bar--0{
    top: 23px;
    transform: rotate(0);
    transition: top 0.25s ease 0.25s, transform 0.25s ease 0s;
}

.bars__bar--0-active{
    top: 38px;
    transform: rotate(135deg);
    transition: top 0.25s ease 0s, transform 0.25s ease 0.25s;
}

.bars__bar--1{
    transform: scale(1);
    transition: transform 0.5s ease;
}

.bars__bar--1-active{
    transform: scale(0);
}

.bars__bar--2{
    top:53px;
    transition: top 0.25s ease 0.25s, transform 0.25s ease 0s;
}

.bars__bar--2-active{
    top: 38px;
    transform: rotate(45deg);
    transition: top 0.25s ease 0s, transform 0.25s ease 0.25s;
}

@media all and(max-width: 1078px){
    .bars {
        display: block;
    }
}