$main-text-size: 20px;
$jumbo-text:70px;
$background-transparent: rgba(0, 0, 0, 0.3);
$background-transparent-dark: rgba(0, 0, 0, 0.2);
$light-blue: rgb(143, 186, 209);
$dark-blue: rgb(0, 34, 43);
$dark-red:rgb(150, 22, 22);
$btn-color: rgba(255, 255, 255, 0.75);
$btn-color-active: rgba(255, 255, 255, 0.85);